/** colores */
$dark-green-title: red;
$dark-green-text: #135359;
$white: red;

/** fuentes */
$font-title: "Alegreya", serif;
// herencia
%base-title {
 font-family:$font-title;
 color: $dark-green-text;
 display: flex;
 font-size: 30px;

}